/* Div Class cards - REALPART */
.vitrineBeackground {
  background-image: url("../../imagem/VITRINE\ VIRTUAL\ BACKGROUND\ DEGRADE.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: contain;
  width: 100%;
  height: 100%;
  /* background-size: 100% 100%; */
  margin-top: -60.8px;
}

.realmPart {
  display: flex;
  justify-content: center;
  /* margin-top: 60.8px; */
  padding: 85px;
}

/* Div Card */
.cards {
  display: grid;
  grid-gap: 50px 15px;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  justify-content: center;
}

#cardSpace {
  width: 60%;
}

.card {
  display: flex;
  font-size: 2.5rem;
  --bs-card-border-radius: 3rem !important;
  --bs-card-border-color: transparent !important;
  --bs-card-bg: transparent !important;
  background-color: #ff7714;
  box-shadow: 5px 5px 5px 3px rgba(55, 55, 55, 0.3);
  width: 300px; /* Adjust the size as needed */
  padding: 10px;
  height: 450px;
  min-height: 320px;
}

.cards a {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card a div {
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
  align-items: center;
  text-align: center;
  width: 100%;
}

.cards img {
  width: 250px; /* Adjust the size as needed */
  height: 200px; /* Same value as width to make it a square */
  object-fit: cover; /* Preserve aspect ratio and cover the container */
  border-radius: 3rem;
  margin: 0rem;
  background-size: 200% 100%;
  margin-bottom: 25px;
}

.cards p {
  color: #ffffff;
  font-weight: bold;
  margin: 0;
  font-size: 15px;
}

.card:hover {
  transform: scale(1.05);
}

@media (max-width: 1580px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 991px) {
  .carousel {
    margin-top: -56px;
  }
}

@media (max-width: 750px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
