/* Div Class cards - REALPART */
.topCardContainer {
  z-index: 1000;
  display: flex;
  position: relative;
  justify-content: center;
  margin-left: 0rem;
  margin-top: -6rem;
  min-height: 35rem;
}

/* Div Card */
.topCard {
  display: grid;
  width: 80%;
  grid-gap: 10px 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 5rem;
  padding-right: 5rem;
  background: linear-gradient(to right, #1d1c7a, #ffffff);
  box-shadow: 5px 5px 5px 1px rgba(55, 55, 55, 0.3);
  border-radius: 3rem;
  --bs-card-border-radius: 3rem !important;
  --bs-card-border-color: transparent !important;
  --bs-card-bg: transparent !important;
}

.section {
  display: flex;
  flex-direction: column;
  font-size: 0.5rem;
  padding: 0.5rem;
}

.section div {
  display: flex;
  flex-direction: row;
  z-index: 1000;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
}

/* Div class img cards */
.section img {
  width: 40%;
  max-width: 96px;
  border-radius: 0.375rem;
  margin: 0rem;
  object-fit: contain;
  background-size: 200% 100%;
  border-color: transparent;
}

.section h2 {
  color: #fff;
  font-weight: bold;
  margin: 0;
  text-align: center;
  text-align: justify;
}

.section h1{
 color:#fff
}

.carousel {
  margin-top: 0;
}

@media (max-width: 1580px) {
  .section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 991px) {
  .carousel {
    margin-top: -56px;
  }
}

@media (max-width: 750px) {
  .section {
    grid-template-columns: 1fr;
  }
}
